@charset "UTF-8";

/*导航高度*/
$navheight: 60px;


.poi-header {
  display: flex;
  height: $navheight;
  background: #eee;
  position: fixed;
  width: 100%;


  .poi-logo {
    width: 25%;
  }
  .poi-nav {
    width: 60%;
  }
  .poi-other {
    width: 15%;
  }
  ul {
    display: flex;
    li {
      padding: 0 20px;
      line-height: $navheight;
    }
    li:hover {
      background-color: azure;
      cursor: pointer;
    }
  }
}

