@charset "UTF-8";
/*导航高度*/
$navheight: 60px;


.poi-header {
  display: flex;
  height: $navheight;
  background: azure;
  position: fixed;
  width: 100%;

 

  .poi-logo {
    width: 15%;
    background-color: bisque;
  }
  .poi-nav {
    width: 70%;
    background-color: blueviolet;
  }
  .poi-other {
    width: 15%;
    background-color: chocolate;
  }
  ul {
    display: flex;
    margin: 0 100px 0 0;
    li {
      padding: 0 20px;
      line-height: $navheight;
    }
    li:hover {
      background-color: azure;
      cursor: pointer;
    }
  }
}

.poi-footer {
    height: 100px;
    background-color: aqua;
  }